@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    text-decoration: none;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    background-image: url(bg1.jpg);    
    background-repeat: no-repeat;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}
.navbar:hover{
    background-color: transparent;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}
.navbar a{
    margin-top: 5px;
    font-size: x-large;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar a:hover{
    color: crimson;
    font-size: xx-large;
    transition: 0.5s;
    background-color: white;
    padding: 5px;
    margin-bottom: 2px;
    border-radius: 5px;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}
.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: xx-large;
    color: rgb(255, 255, 255);
}
.intro span{
    color: rgb(220, 20, 60);
}
