@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
    margin: 0%;
    text-decoration: none;
    font-family: "Josefin Sans";
    font-size: 45px;
    color: white;
}
.main{
    background-color: black;
    height: 100vh;
}
i{
    background-color: #dc143c;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    text-align: center;
    font-size: 35px;
    transition: linear 0.25s;
    padding: 5px;
    margin: 15px;
}
i:hover{
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}
.right-side-nav{
    text-align: right;
    margin-top: 8px;
    display: flex;
    justify-content: right;
    align-items: center;
    transition: linear 0.25s;
}
.home{
    transition: linear 0.25s;
}
.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.intro span{
    color: #dc143c;
}

/* about section */

.about{
    background-color: #dc143c;
    height: 100vh;
}
